---
import { Image } from "astro:assets";
import { getAllProducts } from "../../lib/shopify";

const products = await getAllProducts();
console.log(products);
---

<section class="relative max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div
        class="grid grid-cols-1 gap-6 lg:gap-y-24 md:grid-cols-2 lg:grid-cols-3 py-4"
    >
        {
            products.map((product, index) => (
                <figure class="relative group">
                    <a
                        href={`/produtos/${product.handle}`}
                        class="block"
                        aria-label={`Ver ${product.title}`}
                    >
                        <div class="overflow-hidden rounded shadow">
                            {product.images.edges.length > 0 && (
                                <Image
                                    width="800"
                                    height="800"
                                    alt={product.title}
                                    src={product.images.edges[0]?.node.url}
                                    class="w-full aspect-12/9 object-cover object-center transition-transform duration-300 ease-in-out group-hover:scale-105"
                                    transition:name={`product-image-${product.handle}`}
                                />
                            )}
                        </div>

                        <div class="mt-2 flex justify-between">
                            <p class="text-sm font-semibold max-w-2/3">
                                {product.title}
                            </p>
                            <p class="text-base font-semibold text-primary">
                                R$ {product.priceRange.minVariantPrice.amount}
                            </p>
                        </div>
                    </a>
                </figure>
            ))
        }
    </div>
</section>
